.input-group {
  position: relative;
  padding-bottom: 16px;
}

.input-group.error {
  color: tomato;
}

.input-group label {
  display: block;
}

.input-group input {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid black;
  font: inherit;
}

.input-group input:focus {
  outline: none;
}

.input-group.error input {
  border: 1px solid tomato;
}

.input-group-hint {
  left: 0;
  width: 100%;
  position: absolute;
  font-size: 10px;
  margin: 0;
}
